## Fundamentos de ETL com Python

- Extração
    - os dados são exraindos de diferentes fontes de dados
- Transformação
    - Onde são transformados e limpos
- Load
    - Carregar os dados no data warehouse

Transformação de Dados

In [2]:
import pandas as pd
import pandera as pa

In [3]:
# abrindo csv usando o separador ";", fazendo parse das datas e fazendo a limpeza dos dados, alterando alguns valores
valores_ausentes = ["***","###!","****","*****","NULL"]
df = pd.read_csv("./ocorrencia.csv", sep=";", parse_dates=["ocorrencia_dia"], dayfirst=True, na_values=valores_ausentes)
df.head(10)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0
5              39807               39807  ...        17:53:00                   0
6              40215               40215  ...        18:40:00                   0
7              39707               39707  ...        12:30:00                   3
8              39156               39156  ...        23:15:00                   2
9              39711               39711  ...        20:00:00                   0

[10 rows x 9 columns]

Usando pandora

O schema levanta error parando a execução quando algum item nao passa na validação

In [4]:
# montando schema
schema = pa.DataFrameSchema(
    columns = {
        "codigo":pa.Column(pa.Int, required=False),# o required diz que a coluna pode ou nao ta no dataframe
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2),nullable=True), # definindo o tamanho do dado
        "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime), # Check.str_matches, usa regex para checa se o formato de hora esta correto
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$'), nullable=True),# permite que a coluna tenha valores Null
        "total_recomendacoes": pa.Column(pa.Int)
        
    }
)

In [5]:
schema.validate(df) # o error vai ser resolvido na etapa de limpeza de dados

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
6109              80245  ...                    0
6110              80247  ...                    0
6111              80251  ...                    0
6112              80257  ...                    0
6113              80259  ...                    0

[6114 rows x 9 columns]

In [6]:
# verificando os tipos de dados
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [7]:
# fazendo buscas
df.loc[1]

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
Name: 1, dtype: object

In [ ]:
# usando iloc, pode usar o index para faze a busca
df.iloc[1]

In [9]:
# usando iloc, pode usar o index para faze a busca
df.iloc[-1] # pengando o ultimo dado do dataframe

codigo_ocorrencia                         80259
codigo_ocorrencia2                        80259
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                      CAMPINAS
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SBKP
ocorrencia_dia              2021-08-18 00:00:00
ocorrencia_hora                        12:45:00
total_recomendacoes                           0
Name: 6113, dtype: object

In [10]:
# tambem é possivel fazer fatiamento usando o label
df.iloc[10:15]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
10              39789               39789  ...        21:30:00                   0
11              40069               40069  ...        14:50:00                   8
12              40414               40414  ...        03:00:00                   0
13              39507               39507  ...        17:00:00                   2
14              40107               40107  ...        14:30:00                   0

[5 rows x 9 columns]

In [11]:
df.loc[:,"ocorrencia_uf"] # ou

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [12]:
df["ocorrencia_uf"]

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
6109    PE
6110    RO
6111    PA
6112    MT
6113    SP
Name: ocorrencia_uf, Length: 6114, dtype: object

In [13]:
# verificando a quantidade de valores na(nao informados)
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2443
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [14]:
# verificando a quantidade de valores na(nao informados)
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2443
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [15]:
# buscando os valores null na coluna ocorrencia_uf
# df.loc[df.ocorrencia_uf.isnull()]
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0
5855              79956  ...                    0

[2 rows x 9 columns]

In [16]:
# buscando os valores null na coluna ocorrencia_hora
# df.loc[df.ocorrencia_hora.isnull()]
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
4102              78823  ...                    0

[1 rows x 9 columns]

In [17]:
# usando o count, ele pode mostra a colunas que tem os valores null
df.count()

codigo_ocorrencia           6114
codigo_ocorrencia2          6114
ocorrencia_classificacao    6114
ocorrencia_cidade           6114
ocorrencia_uf               6112
ocorrencia_aerodromo        3671
ocorrencia_dia              6114
ocorrencia_hora             6113
total_recomendacoes         6114
dtype: int64

In [18]:
# ocorrencias com mias de 10 recomendações
filtro = df.total_recomendacoes > 10
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
63                39992  ...                   11
326               42250  ...                   19
530               43471  ...                   11
727               44377  ...                   11
872               44796  ...                   23
884               44888  ...                   11
1062              45554  ...                   20
1972              47938  ...                   11
2797              52265  ...                   13
3932              66432  ...                   12

[10 rows x 9 columns]

In [19]:
# ocorrencias com mais de 10 recomendações e as cidades
filtro = df.total_recomendacoes > 10
df.loc[filtro, ['ocorrencia_cidade','total_recomendacoes']]

         ocorrencia_cidade  total_recomendacoes
63               SÃO PAULO                   11
326         RIO DE JANEIRO                   19
530              SÃO PAULO                   11
727               ITÁPOLIS                   11
872                 RECIFE                   23
884   SÃO JOSÉ DOS PINHAIS                   11
1062            UBERLÂNDIA                   20
1972              BRASÍLIA                   11
2797                SANTOS                   13
3932               VITÓRIA                   12

In [20]:
# ocorrencias  cim as classificaçoes iguais a INCIDENTE GRAVE
filtro = df.ocorrencia_classificacao == "INCIDENTE GRAVE"
df.loc[filtro, ['ocorrencia_cidade','ocorrencia_classificacao']]

     ocorrencia_cidade ocorrencia_classificacao
7             CANUTAMA          INCIDENTE GRAVE
8             CASCAVEL          INCIDENTE GRAVE
9        PARÁ DE MINAS          INCIDENTE GRAVE
29            CURITIBA          INCIDENTE GRAVE
35              PALMAS          INCIDENTE GRAVE
...                ...                      ...
6090             MARAÚ          INCIDENTE GRAVE
6095   ELDORADO DO SUL          INCIDENTE GRAVE
6097     CAXIAS DO SUL          INCIDENTE GRAVE
6098   CHAPADÃO DO SUL          INCIDENTE GRAVE
6104       VOTUPORANGA          INCIDENTE GRAVE

[791 rows x 2 columns]

In [21]:
# ocorrencias  cim as classificaçoes iguais a INCIDENTE GRAVE e o estado == SP
filtro = df.ocorrencia_classificacao == "INCIDENTE GRAVE"
filtro2 = df.ocorrencia_uf == "SP"
#df.loc[filtro & filtro2, ['ocorrencia_uf','ocorrencia_classificacao']]
df.loc[filtro & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
136               40270  ...                    0
171               40620  ...                    0
219               41411  ...                    2
297               42289  ...                    0
314               42323  ...                    0
...                 ...  ...                  ...
5949              80056  ...                    0
6000              80114  ...                    0
6007              80124  ...                    0
6081              80200  ...                    0
6104              80238  ...                    0

[145 rows x 9 columns]

In [22]:
# ocorrencias  cim as classificaçoes iguais a INCIDENTE GRAVE ou estado == SP
filtro = df.ocorrencia_classificacao == "INCIDENTE GRAVE"
filtro2 = df.ocorrencia_uf == "SP"
#df.loc[filtro & filtro2, ['ocorrencia_uf','ocorrencia_classificacao']]
df.loc[filtro | filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
11                40069  ...                    8
16                39809  ...                    0
...                 ...  ...                  ...
6097              80231  ...                    0
6098              80248  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[2110 rows x 9 columns]

In [23]:
# ocorrencias cuja (classificação == INCIDENTE GRAVE ou  classificação == INCIDENTE) e o estado == SP
filtro = df.ocorrencia_classificacao == "INCIDENTE GRAVE"
filtro1 = df.ocorrencia_classificacao == "INCIDENTE"
filtro2 = df.ocorrencia_uf == "SP"
#df.loc[filtro & filtro2, ['ocorrencia_uf','ocorrencia_classificacao']]
df.loc[filtro | filtro1 & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
8                 39156  ...                    2
9                 39711  ...                    0
16                39809  ...                    0
18                39828  ...                    0
...                 ...  ...                  ...
6097              80231  ...                    0
6098              80248  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[1704 rows x 9 columns]

In [24]:
# ocorrencias cuja (classificação == INCIDENTE GRAVE ou  classificação == INCIDENTE) e o estado == SP
filtro = (df.ocorrencia_classificacao == "INCIDENTE GRAVE") | (df.ocorrencia_classificacao == "INCIDENTE")
filtro2 = df.ocorrencia_uf == "SP"
#df.loc[filtro & filtro2, ['ocorrencia_uf','ocorrencia_classificacao']]
df.loc[filtro & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
6084              80234  ...                    0
6085              80208  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[1058 rows x 9 columns]

In [25]:
# ocorrencias cuja (classificação == INCIDENTE GRAVE ou  classificação == INCIDENTE) e o estado == SP
filtro = df.ocorrencia_classificacao.isin(["INCIDENTE GRAVE","INCIDENTE"])
filtro2 = df.ocorrencia_uf == "SP"
#df.loc[filtro & filtro2, ['ocorrencia_uf','ocorrencia_classificacao']]
df.loc[filtro & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
33                39848  ...                    0
...                 ...  ...                  ...
6084              80234  ...                    0
6085              80208  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0
6113              80259  ...                    0

[1058 rows x 9 columns]

In [26]:
# ocorrencias cujas cidades comecem com a letra C
filtro = df.ocorrencia_cidade.str[0] == "C"
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
6                 40215  ...                    0
7                 39707  ...                    3
8                 39156  ...                    2
15                39315  ...                    0
20                40310  ...                    0
...                 ...  ...                  ...
6094              80225  ...                    0
6097              80231  ...                    0
6098              80248  ...                    0
6100              80235  ...                    0
6113              80259  ...                    0

[895 rows x 9 columns]

In [27]:
# ocorrencias cujas cidades comecem com a letra A
filtro = df.ocorrencia_cidade.str[-1] == "A"
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
12                40414  ...                    0
15                39315  ...                    0
25                39772  ...                    0
26                39847  ...                    0
...                 ...  ...                  ...
6093              80227  ...                    0
6094              80225  ...                    0
6102              80240  ...                    0
6104              80238  ...                    0
6108              80244  ...                    0

[1642 rows x 9 columns]

In [28]:
# ocorrencias cujas cidades termina com os caracteres MA
filtro = df.ocorrencia_cidade.str[-2:] == "MA"
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
7                 39707  ...                    3
15                39315  ...                    0
408               43062  ...                    1
688               44198  ...                    0
1035              51785  ...                    0
1377              45939  ...                    0
1401              46180  ...                    0
2099              49113  ...                    4
2102              48799  ...                    0
2646              80059  ...                    0
2657              51347  ...                    0
2857              52340  ...                    1
2968              52832  ...                    0
2999              52979  ...                    0
3042              52984  ...                    0
3094              53596  ...                    0
3159              53223  ...                    0
3173              53265  ...                    2
3191              53271  ...                    0
3684              65414  ...                    1
3727              65633  ...                    0
3883              66265  ...                    0
4231              77371  ...                    1
4313              77612  ...                    0
4576              78080  ...                    0
4987              78867  ...                    0
5071              78923  ...                    0
5081              78782  ...                    0
5406              79282  ...                    0
5441              79338  ...                    0
5475              79400  ...                    0
5759              79823  ...                    0
5776              79820  ...                    0
5778              79830  ...                    0
5861              79943  ...                    0
6093              80227  ...                    0

[36 rows x 9 columns]

In [29]:
# ocorrencias cujas cidades contem(em qualquer parte do conteudo) com os caracteres MA ou AL
filtro = df.ocorrencia_cidade.str.contains("MA|AL")
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
5                 39807  ...                    0
7                 39707  ...                    3
13                39507  ...                    2
15                39315  ...                    0
17                39810  ...                    0
...                 ...  ...                  ...
6075              80205  ...                    0
6086              80212  ...                    0
6090              80221  ...                    0
6093              80227  ...                    0
6106              80249  ...                    0

[954 rows x 9 columns]

In [30]:
# ocorrencias do ano de 2015 
filtro = df.ocorrencia_dia.dt.year == 2015
df.loc[filtro]

      codigo_ocorrencia  ...  total_recomendacoes
2998              52992  ...                    3
2999              52979  ...                    0
3000              53073  ...                    0
3001              53074  ...                    0
3002              52976  ...                    6
...                 ...  ...                  ...
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[471 rows x 9 columns]

In [31]:
# ocorrencias do ano de 2015 e mes 12
filtro = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 12
df.loc[filtro & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
3430              53573  ...                    0
3431              60601  ...                    0
3432              53634  ...                    0
3433              53636  ...                    0
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0
3442              53627  ...                    0
3443              60604  ...                    0
3444              60611  ...                    0
3445              60613  ...                    0
3446              60629  ...                    0
3447              53630  ...                    0
3448              60603  ...                    0
3449              60612  ...                    0
3450              60783  ...                    3
3451              53639  ...                    0
3452              60609  ...                    0
3453              60616  ...                    0
3454              60620  ...                    4
3455              60645  ...                    0
3456              60608  ...                    0
3457              60625  ...                    1
3458              60605  ...                    0
3459              60610  ...                    0
3460              60602  ...                    0
3461              60615  ...                    0
3462              60640  ...                    0
3463              60641  ...                    0
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[39 rows x 9 columns]

In [32]:
# ocorrencias do ano de 2015 e mes 12
filtro = (df.ocorrencia_dia.dt.year == 2015) & (df.ocorrencia_dia.dt.month == 12)
df.loc[filtro & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
3430              53573  ...                    0
3431              60601  ...                    0
3432              53634  ...                    0
3433              53636  ...                    0
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0
3442              53627  ...                    0
3443              60604  ...                    0
3444              60611  ...                    0
3445              60613  ...                    0
3446              60629  ...                    0
3447              53630  ...                    0
3448              60603  ...                    0
3449              60612  ...                    0
3450              60783  ...                    3
3451              53639  ...                    0
3452              60609  ...                    0
3453              60616  ...                    0
3454              60620  ...                    4
3455              60645  ...                    0
3456              60608  ...                    0
3457              60625  ...                    1
3458              60605  ...                    0
3459              60610  ...                    0
3460              60602  ...                    0
3461              60615  ...                    0
3462              60640  ...                    0
3463              60641  ...                    0
3464              60632  ...                    0
3465              60600  ...                    0
3466              60642  ...                    0
3467              60631  ...                    2
3468              60649  ...                    0

[39 rows x 9 columns]

In [33]:
# ocorrencias do ano de 2015 e mes 12, dia 8
filtro = (df.ocorrencia_dia.dt.year == 2015) & (df.ocorrencia_dia.dt.month == 12) & (df.ocorrencia_dia.dt.day == 8)
df.loc[filtro & filtro2]

      codigo_ocorrencia  ...  total_recomendacoes
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0

[4 rows x 9 columns]

In [34]:
# ocorrencias do ano de 2015 e mes 12, dia entre 3 e 8
filtro_ano = df.ocorrencia_dia.dt.year == 2015
filtro_mes = df.ocorrencia_dia.dt.month == 12
filtro_dia = (df.ocorrencia_dia.dt.day >=3) & (df.ocorrencia_dia.dt.day <= 8)
df.loc[filtro_ano & filtro_mes & filtro_dia]

      codigo_ocorrencia  ...  total_recomendacoes
3434              53575  ...                    0
3435              60637  ...                    0
3436              53625  ...                    3
3437              53626  ...                    1
3438              53628  ...                    1
3439              53629  ...                    0
3440              53631  ...                    0
3441              60636  ...                    0

[8 rows x 9 columns]

In [35]:
# criando nova coluna que vai conter dia e hora
df["ocorrencia_dia_hora"] = pd.to_datetime(df.ocorrencia_dia.astype(str) + " " + df.ocorrencia_hora)

In [36]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
ocorrencia_dia_hora         datetime64[ns]
dtype: object

In [37]:
df["ocorrencia_dia_hora"]

0      2010-01-03 12:00:00
1      2010-01-03 11:05:00
2      2010-01-03 03:00:00
3      2010-01-04 17:30:00
4      2010-01-05 19:25:00
               ...
6109   2021-08-15 15:05:00
6110   2021-08-16 02:30:00
6111   2021-08-17 15:45:00
6112   2021-08-18 16:00:00
6113   2021-08-18 12:45:00
Name: ocorrencia_dia_hora, Length: 6114, dtype: datetime64[ns]

In [38]:
# ocorrencias do ano de 2015 e mes 12, dia entre 3 e 8
filtro_ano = df.ocorrencia_dia_hora.dt.year == 2015
filtro_mes = df.ocorrencia_dia_hora.dt.month == 12
filtro_dia = (df.ocorrencia_dia_hora.dt.day >=3) & (df.ocorrencia_dia_hora.dt.day <= 8)
df.loc[filtro_ano & filtro_mes & filtro_dia]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3434              53575  ...  2015-12-03 10:50:00
3435              60637  ...  2015-12-03 16:47:00
3436              53625  ...  2015-12-06 13:10:00
3437              53626  ...  2015-12-06 15:00:00
3438              53628  ...  2015-12-08 14:30:00
3439              53629  ...  2015-12-08 10:20:00
3440              53631  ...  2015-12-08 16:19:00
3441              60636  ...  2015-12-08 13:00:00

[8 rows x 10 columns]

In [39]:
filtro1 = df.ocorrencia_dia_hora > "2015-12-03 10:50:00"
df.loc[filtro1]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3435              60637  ...  2015-12-03 16:47:00
3436              53625  ...  2015-12-06 13:10:00
3437              53626  ...  2015-12-06 15:00:00
3438              53628  ...  2015-12-08 14:30:00
3439              53629  ...  2015-12-08 10:20:00
...                 ...  ...                  ...
6109              80245  ...  2021-08-15 15:05:00
6110              80247  ...  2021-08-16 02:30:00
6111              80251  ...  2021-08-17 15:45:00
6112              80257  ...  2021-08-18 16:00:00
6113              80259  ...  2021-08-18 12:45:00

[2678 rows x 10 columns]

In [40]:
filtro1 = df.ocorrencia_dia_hora >= "2015-12-03 10:50:00"
filtro2 = df.ocorrencia_dia_hora <= "2015-12-08 10:50:00"
df.loc[filtro1 & filtro2]

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3434              53575  ...  2015-12-03 10:50:00
3435              60637  ...  2015-12-03 16:47:00
3436              53625  ...  2015-12-06 13:10:00
3437              53626  ...  2015-12-06 15:00:00
3439              53629  ...  2015-12-08 10:20:00

[5 rows x 10 columns]

In [41]:
# ocorrencias do ano de 2015 e mes 03
filtro1 = df.ocorrencia_dia.dt.year == 2015
filtro2 = df.ocorrencia_dia.dt.month == 3
df201503 = df.loc[filtro1 & filtro2]
df201503

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3088              53183  ...  2015-03-02 23:00:00
3089              53120  ...  2015-03-04 13:30:00
3090              53109  ...  2015-03-05 13:50:00
3091              53112  ...  2015-03-06 21:00:00
3092              53152  ...  2015-03-10 11:30:00
3093              53167  ...  2015-03-10 17:33:00
3094              53596  ...  2015-03-10 21:35:00
3095              53149  ...  2015-03-11 23:25:00
3096              53148  ...  2015-03-12 12:40:00
3097              53153  ...  2015-03-13 15:45:00
3098              53154  ...  2015-03-13 14:40:00
3099              53238  ...  2015-03-13 11:30:00
3100              53189  ...  2015-03-14 07:20:00
3101              53193  ...  2015-03-14 18:00:00
3102              53164  ...  2015-03-15 18:30:00
3103              53151  ...  2015-03-16 18:07:00
3104              53168  ...  2015-03-16 21:05:00
3105              53169  ...  2015-03-19 03:25:00
3106              53165  ...  2015-03-20 14:35:00
3107              53188  ...  2015-03-20 21:00:00
3108              53184  ...  2015-03-22 13:44:00
3109              53178  ...  2015-03-23 17:15:00
3110              53182  ...  2015-03-23 20:40:00
3111              53166  ...  2015-03-24 14:45:00
3112              53170  ...  2015-03-24 17:57:00
3113              53185  ...  2015-03-24 23:01:00
3114              53412  ...  2015-03-24 16:35:00
3115              53194  ...  2015-03-26 20:30:00
3116              53186  ...  2015-03-27 14:55:00
3117              53179  ...  2015-03-28 10:30:00
3118              53180  ...  2015-03-28 18:52:00
3119              53190  ...  2015-03-28 16:26:00
3120              53212  ...  2015-03-28 17:32:00
3121              53213  ...  2015-03-28 15:51:00
3122              53181  ...  2015-03-29 20:17:00
3123              53187  ...  2015-03-29 18:36:00
3124              53211  ...  2015-03-30 19:40:00

[37 rows x 10 columns]

In [42]:
df201503

      codigo_ocorrencia  ...  ocorrencia_dia_hora
3088              53183  ...  2015-03-02 23:00:00
3089              53120  ...  2015-03-04 13:30:00
3090              53109  ...  2015-03-05 13:50:00
3091              53112  ...  2015-03-06 21:00:00
3092              53152  ...  2015-03-10 11:30:00
3093              53167  ...  2015-03-10 17:33:00
3094              53596  ...  2015-03-10 21:35:00
3095              53149  ...  2015-03-11 23:25:00
3096              53148  ...  2015-03-12 12:40:00
3097              53153  ...  2015-03-13 15:45:00
3098              53154  ...  2015-03-13 14:40:00
3099              53238  ...  2015-03-13 11:30:00
3100              53189  ...  2015-03-14 07:20:00
3101              53193  ...  2015-03-14 18:00:00
3102              53164  ...  2015-03-15 18:30:00
3103              53151  ...  2015-03-16 18:07:00
3104              53168  ...  2015-03-16 21:05:00
3105              53169  ...  2015-03-19 03:25:00
3106              53165  ...  2015-03-20 14:35:00
3107              53188  ...  2015-03-20 21:00:00
3108              53184  ...  2015-03-22 13:44:00
3109              53178  ...  2015-03-23 17:15:00
3110              53182  ...  2015-03-23 20:40:00
3111              53166  ...  2015-03-24 14:45:00
3112              53170  ...  2015-03-24 17:57:00
3113              53185  ...  2015-03-24 23:01:00
3114              53412  ...  2015-03-24 16:35:00
3115              53194  ...  2015-03-26 20:30:00
3116              53186  ...  2015-03-27 14:55:00
3117              53179  ...  2015-03-28 10:30:00
3118              53180  ...  2015-03-28 18:52:00
3119              53190  ...  2015-03-28 16:26:00
3120              53212  ...  2015-03-28 17:32:00
3121              53213  ...  2015-03-28 15:51:00
3122              53181  ...  2015-03-29 20:17:00
3123              53187  ...  2015-03-29 18:36:00
3124              53211  ...  2015-03-30 19:40:00

[37 rows x 10 columns]

In [43]:
# agrupamento
df201503.groupby(['codigo_ocorrencia']).codigo_ocorrencia.count()

codigo_ocorrencia
53109    1
53112    1
53120    1
53148    1
53149    1
53151    1
53152    1
53153    1
53154    1
53164    1
53165    1
53166    1
53167    1
53168    1
53169    1
53170    1
53178    1
53179    1
53180    1
53181    1
53182    1
53183    1
53184    1
53185    1
53186    1
53187    1
53188    1
53189    1
53190    1
53193    1
53194    1
53211    1
53212    1
53213    1
53238    1
53412    1
53596    1
Name: codigo_ocorrencia, dtype: int64

In [44]:
# agrupamento
df201503.groupby(['ocorrencia_classificacao']).codigo_ocorrencia.count()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
Name: codigo_ocorrencia, dtype: int64

In [45]:
# agrupamento
df201503.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           15
INCIDENTE          17
INCIDENTE GRAVE     5
dtype: int64

In [46]:
# agrupamento
df201503.groupby(['ocorrencia_classificacao']).size().sort_values()

ocorrencia_classificacao
INCIDENTE GRAVE     5
ACIDENTE           15
INCIDENTE          17
dtype: int64

In [47]:
# agrupamento
df201503.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          17
ACIDENTE           15
INCIDENTE GRAVE     5
dtype: int64

In [48]:
filtro1 = df.ocorrencia_dia.dt.year == 2010
filtro2 = df.ocorrencia_uf.isin(["SP","MG","ES", "RJ"])
dfsudeste2010 = df.loc[filtro1 & filtro2]
dfsudeste2010

     codigo_ocorrencia  ...  ocorrencia_dia_hora
0                40211  ...  2010-01-03 12:00:00
2                40351  ...  2010-01-03 03:00:00
9                39711  ...  2010-01-10 20:00:00
11               40069  ...  2010-01-10 14:50:00
16               39809  ...  2010-01-15 15:00:00
..                 ...  ...                  ...
541              43722  ...  2010-12-23 11:00:00
544              43548  ...  2010-12-26 22:10:00
548              43724  ...  2010-12-29 12:00:00
550              43730  ...  2010-12-30 18:10:00
551              43975  ...  2010-12-30 14:28:00

[228 rows x 10 columns]

In [49]:
# agrupamento
dfsudeste2010.groupby(["ocorrencia_classificacao"]).size()

ocorrencia_classificacao
ACIDENTE            40
INCIDENTE          170
INCIDENTE GRAVE     18
dtype: int64

In [50]:
# agrupamento
dfsudeste2010.groupby(["ocorrencia_classificacao","ocorrencia_uf"]).size()

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  MG                7
                          RJ                9
                          SP               24
INCIDENTE                 ES                5
                          MG               39
                          RJ               52
                          SP               74
INCIDENTE GRAVE           MG                5
                          RJ                4
                          SP                9
dtype: int64

In [51]:
# agrupamento
dfsudeste2010.groupby(["ocorrencia_cidade"]).size().sort_values(ascending=False)

ocorrencia_cidade
RIO DE JANEIRO           47
SÃO PAULO                33
GUARULHOS                18
BELO HORIZONTE           17
CAMPINAS                 13
MACAÉ                    12
CONFINS                   7
UBERLÂNDIA                5
VITÓRIA                   4
JUIZ DE FORA              4
SÃO JOSÉ DO RIO PRETO     3
SÃO JOSÉ DOS CAMPOS       3
MARÍLIA                   3
ARARAQUARA                2
MONTES CLAROS             2
CAMPOS DOS GOYTACAZES     2
DIVINÓPOLIS               2
IPATINGA                  2
ITANHAÉM                  2
JUNDIAÍ                   2
POÇOS DE CALDAS           2
RIBEIRÃO PRETO            2
SOROCABA                  2
UBERABA                   2
BAURU                     2
AREALVA                   2
BOITUVA                   1
BOCAINA                   1
BOM JESUS DO AMPARO       1
BOM JESUS DO GALHO        1
BEBEDOURO                 1
BRAGANÇA PAULISTA         1
BROTAS                    1
CAJOBI                    1
ARRAIAL DO CABO           1
CAMANDUCAIA               1
TIMÓTEO                   1
ARAÇATUBA                 1
CASIMIRO DE ABREU         1
SANTOS                    1
COROMANDEL                1
OLÍMPIA                   1
RESENDE                   1
POUSO ALEGRE              1
PIRASSUNUNGA              1
PIRACICABA                1
PIACATU                   1
PENÁPOLIS                 1
PARÁ DE MINAS             1
NOVO HORIZONTE            1
COSMÓPOLIS                1
MANGARATIBA               1
LINHARES                  1
SÃO BERNARDO DO CAMPO     1
ITÁPOLIS                  1
IPERÓ                     1
SERRA NEGRA               1
DIAMANTINA                1
AMERICANA                 1
dtype: int64

In [52]:
# agrupamento
filtro = dfsudeste2010.ocorrencia_cidade == "RIO DE JANEIRO"
dfsudeste2010.loc[filtro]

     codigo_ocorrencia  ...  ocorrencia_dia_hora
0                40211  ...  2010-01-03 12:00:00
2                40351  ...  2010-01-03 03:00:00
19               44575  ...  2010-01-17 12:27:00
23               40311  ...  2010-01-19 13:20:00
24               41577  ...  2010-01-19 12:16:00
30               39849  ...  2010-01-23 03:30:00
39               40617  ...  2010-01-27 20:06:00
49               39295  ...  2010-02-06 21:09:00
71               39987  ...  2010-02-24 19:37:00
101              40210  ...  2010-03-20 20:02:00
105              40209  ...  2010-03-21 13:46:00
107              40330  ...  2010-03-24 11:35:00
119              40190  ...  2010-04-06 02:35:00
139              40294  ...  2010-04-16 20:00:00
144              40293  ...  2010-04-18 16:23:00
154              40581  ...  2010-04-21 13:20:00
164              40774  ...  2010-05-01 02:10:00
185              41573  ...  2010-05-13 16:10:00
223              41591  ...  2010-06-10 17:30:00
240              41678  ...  2010-06-19 19:05:00
242              42011  ...  2010-06-19 13:16:00
248              41729  ...  2010-06-25 13:05:00
274              41750  ...  2010-07-12 19:53:00
284              42067  ...  2010-07-20 12:41:00
296              42634  ...  2010-07-28 10:05:00
298              42436  ...  2010-07-29 19:12:00
300              42619  ...  2010-07-30 09:24:00
309              42443  ...  2010-08-04 13:27:00
319              42284  ...  2010-08-10 12:30:00
326              42250  ...  2010-08-12 12:26:00
335              42456  ...  2010-08-21 16:35:00
336              42740  ...  2010-08-21 13:25:00
341              42486  ...  2010-08-23 23:55:00
352              42603  ...  2010-08-27 13:27:00
359              42598  ...  2010-08-31 12:35:00
375              42714  ...  2010-09-11 15:30:00
377              42868  ...  2010-09-11 20:30:00
386              43064  ...  2010-09-15 17:54:00
388              42880  ...  2010-09-17 13:55:00
389              42882  ...  2010-09-17 18:46:00
427              43578  ...  2010-10-04 12:30:00
432              43033  ...  2010-10-05 21:46:00
456              43699  ...  2010-10-23 17:43:00
494              43283  ...  2010-11-20 13:02:00
526              43527  ...  2010-12-12 19:00:00
527              43462  ...  2010-12-13 11:00:00
536              43921  ...  2010-12-18 13:15:00

[47 rows x 10 columns]

In [53]:
# somando o total de recomendacoes que o rio de janeiro teve
filtro = dfsudeste2010.ocorrencia_cidade == "RIO DE JANEIRO"
dfsudeste2010.loc[filtro].total_recomendacoes.sum()

25

In [54]:
# somando o total de recomendacoes que o rio de janeiro teve
filtro = dfsudeste2010.ocorrencia_cidade == "RIO DE JANEIRO"
filtro2 = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro & filtro2]

     codigo_ocorrencia  ...  ocorrencia_dia_hora
119              40190  ...  2010-04-06 02:35:00
274              41750  ...  2010-07-12 19:53:00
326              42250  ...  2010-08-12 12:26:00

[3 rows x 10 columns]

In [55]:
# totais de recomendações pode cidade
dfsudeste2010.groupby(["ocorrencia_cidade"]).total_recomendacoes.sum()

ocorrencia_cidade
AMERICANA                 0
ARARAQUARA                0
ARAÇATUBA                 0
AREALVA                   0
ARRAIAL DO CABO           0
BAURU                     0
BEBEDOURO                 0
BELO HORIZONTE            2
BOCAINA                   0
BOITUVA                   1
BOM JESUS DO AMPARO       0
BOM JESUS DO GALHO        1
BRAGANÇA PAULISTA         9
BROTAS                    0
CAJOBI                    0
CAMANDUCAIA               9
CAMPINAS                  0
CAMPOS DOS GOYTACAZES     0
CASIMIRO DE ABREU         0
CONFINS                   0
COROMANDEL                0
COSMÓPOLIS                0
DIAMANTINA                0
DIVINÓPOLIS               0
GUARULHOS                 0
IPATINGA                  0
IPERÓ                     3
ITANHAÉM                  1
ITÁPOLIS                  0
JUIZ DE FORA              0
JUNDIAÍ                   7
LINHARES                  0
MACAÉ                     0
MANGARATIBA               0
MARÍLIA                   0
MONTES CLAROS             0
NOVO HORIZONTE            3
OLÍMPIA                   0
PARÁ DE MINAS             0
PENÁPOLIS                 0
PIACATU                   0
PIRACICABA                0
PIRASSUNUNGA              0
POUSO ALEGRE              0
POÇOS DE CALDAS           0
RESENDE                   8
RIBEIRÃO PRETO            0
RIO DE JANEIRO           25
SANTOS                    0
SERRA NEGRA               0
SOROCABA                  0
SÃO BERNARDO DO CAMPO     2
SÃO JOSÉ DO RIO PRETO     0
SÃO JOSÉ DOS CAMPOS       0
SÃO PAULO                41
TIMÓTEO                   3
UBERABA                   0
UBERLÂNDIA                0
VITÓRIA                   0
Name: total_recomendacoes, dtype: int64

In [58]:
# totais de recomendações por aerodromo e qeu tenham recomendacoes
filtro = dfsudeste2010.total_recomendacoes > 0
dfsudeste2010.loc[filtro].groupby(["ocorrencia_aerodromo"],dropna=False).total_recomendacoes.sum()

ocorrencia_aerodromo
SBBP     9
SBGL     3
SBJD     7
SBJR     3
SBMT    27
SBPR     1
SBRJ    19
SDOI     1
NaN     45
Name: total_recomendacoes, dtype: int64

In [60]:
# totais de recomendacoes por cidade e mes
dfsudeste2010.loc[filtro].groupby(["ocorrencia_cidade",dfsudeste2010.ocorrencia_dia.dt.month],dropna=False).total_recomendacoes.sum()

ocorrencia_cidade      ocorrencia_dia
BELO HORIZONTE         2                  1
                       3                  1
BOITUVA                7                  1
BOM JESUS DO GALHO     12                 1
BRAGANÇA PAULISTA      11                 9
CAMANDUCAIA            7                  9
IPERÓ                  1                  3
ITANHAÉM               9                  1
JUNDIAÍ                5                  5
                       6                  2
NOVO HORIZONTE         7                  3
RESENDE                4                  8
RIO DE JANEIRO         4                  3
                       7                  3
                       8                 19
SÃO BERNARDO DO CAMPO  1                  2
SÃO PAULO              1                  8
                       2                 14
                       6                  2
                       11                 6
                       12                11
TIMÓTEO                2                  3
Name: total_recomendacoes, dtype: int64